    <div class="card" *ngFor = "let i of card">
        <button class="deleteCard" (click)= "deleteCard(i._id);">X</button>
        <img src="https://picsum.photos/100/100" alt=""> 
        <h3>{{i.title}}</h3>
        <p class="description" >{{i.description}}</p>
        <p class="counter">{{i.counter}}</p>
        <div class="buttons">
            <button class="substractCounter" (click)="substractCounter(i)" >-</button>
            <button class="addCounter" (click)="addCounter(i)" >+</button>
        </div>
    </div>
   

