    <div class="card" *ngFor = "let i of cardInfo">
        <button class="deleteCard" (click)="deleteCard($event)">X</button>
        <img src="https://picsum.photos/100/100" alt=""> 
        <h3>{{i.title}}</h3>
        <p class="description" >{{i.description}}</p>
        <p class="counter">{{i.counter}}</p>
        <div class="buttons">
            <button class="substractCounter"   (click)="substractCounter(i.counter, i)">-</button>
            <button class="addCounter" (click)="addCounter(i.counter, i)">+</button>
        </div>
        <!--Agregar boton para eliminar utilizando esta funcion ya creada (click)="funcion($event)"-->
    </div>
   

