<div class="container">
    <h1>{{title}}</h1>
    <form #f = "ngForm" (ngSubmit)= "f.form.valid && addCard(f)" >
        <input type="text" name="title" [(ngModel)]= "card.title" placeholder="Titulo de tarjeta nueva" required>
        <input type="text" name="description" [(ngModel)]= "card.description" placeholder="descripcion de tarjeta nueva">
        <input type="number" name="counter" [(ngModel)]= "card.counter" placeholder="cantidad inicial">
        <button class="addCard" type="submit">+</button>
    </form>
    <div class="cards">
        <app-cards id="cards" #cards></app-cards>
    </div>
    
</div>